

.lista-tareas.h1 {
  color: darkmagenta;
}

.captura-boton {
  font-size: 1.5rem;
  margin: 15px;
  background: #a109c3;
  width: 80px;
  border: 2px solid gray;
  border-radius: 5px;
  color: white;
}


.toggle-button {
  font-size: 1.5rem;
  margin: 15px;
  background: #a109c3;
  width: 80px;
  border: 2px solid gray;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}